:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
/* LOCAL VARIABLES */

/* !!ELEVATIONS */
--elev-0: #FFECD9;
--elev-1: #F5D9BE;
--elev-1-a:#eac8af59;
--elev-a: hsl(29, 70%, 84%);
--elev-2: #E9C7AE;
/* --elev--1: #C99D7D; */

/* !!TEXTS */
--dark-brown: #6E4732;
--dark-text: #2D2D2D;

/* !!ACCENTS */
--blue-accent: #33AABB;
--blue-accent-deep: hsl(188, 40%, 30%);
--green-accent: #9AC83A;
--red-accent: #E85365;

/* BOSS DIFFICULTIES */
--easy-diff: #999999;
--normal-diff: #33AABB;
--hard-diff: #E85365;
--chaos-diff: #282828;
--chaos-diff-accent: linear-gradient(180deg, #DB8 0%, #FDB 48.44%, #CA8 100%);
--extreme-diff: #282828;
--extreme-diff-accent: linear-gradient(180deg, #BA4A4A 0%, #D6281C 46.5%, #BA4A4A 100%);





/* SYMBOL GRADIENTS */
--oblivion-grad:linear-gradient(289deg, rgba(152, 224, 255, 0.60) 11.04%, rgba(152, 224, 255, 0.60) 11.05%, rgba(185, 234, 255, 0.50) 88.12%);
--chuchu-grad: linear-gradient(300deg, rgba(244, 216, 244, 0.56) 8.79%, rgba(255, 204, 255, 0.74) 86%);
--lachelein-grad: linear-gradient(298deg, rgba(255, 123, 67, 0.27) 8.78%, rgba(255, 204, 255, 0.55) 100%);
--arcana-grad:  linear-gradient(289deg, rgba(87, 164, 189, 0.60) 11.04%, rgba(158, 150, 255, 0.60) 88.12%);
--morass-grad:linear-gradient(289deg, rgba(152, 224, 255, 0.60) 11.05%, rgba(243, 188, 170, 0.60) 88.12%);
--esfera-grad:linear-gradient(289deg, rgba(34, 68, 153, 0.60) 11.05%, rgba(153, 119, 255, 0.60) 88.12%);

--cernium-grad:linear-gradient(289deg, rgba(152, 224, 255, 0.70) 11.04%, rgba(225, 185, 255, 0.58) 88.12%);
--arcus-grad: linear-gradient(289deg, rgba(252, 181, 115, 0.70) 11.04%, rgba(187, 221, 255, 0.35) 88.12%);
--odium-grad: linear-gradient(289deg, rgba(107, 201, 201, 0.70) 11.04%, rgba(255, 237, 184, 0.70) 88.12%);
--shangrila-grad: linear-gradient(288deg, rgba(255, 187, 204, 0.589) -2.3%, rgba(255, 200, 145, 0.596) 104.09%);
--arteria-grad: linear-gradient(288deg, rgba(187, 119, 255, 0.568) -6.29%, rgba(51, 85, 136, 0.473) 114.06%);
--carcion-grad: linear-gradient(288deg, rgba(119, 137, 238, 0.521) 37.26%, rgba(102, 187, 102, 0.514) 104.84%);

 
color: var(--dark-text);
}


/* MASTER BACKGROUND FOR BOSS DIFFICULTIES */
/* EASY */
.Easy{
  background: var(--easy-diff);
  border: solid 2px #fff;
}

/* NORMAL */
.Normal{
  background: var(--normal-diff);
  border: solid 2px #fff;
  color: #fff;
}

/* HARD */
.Hard{
  background: var(--hard-diff);
  border: solid 2px #fff;
  color: #fff;
}
.Chaos {
  background-color: var(--chaos-diff); /* Black background */
  color: transparent; /* Make text transparent to show gradient */
  background: var(--chaos-diff-accent); /* Apply gradient */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  text-fill-color: transparent; /* Make text transparent to show gradient */
  border: 2px solid #debc89; /* Set border color */
  border-radius: 16px; /* Add border radius */
}

.Extreme {
  background-color: var(--extreme-diff); /* Black background */
  color: transparent; /* Make text transparent to show gradient */
  background: var(--extreme-diff-accent); /* Apply gradient */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  text-fill-color: transparent; /* Make text transparent to show gradient */
  border: 2px solid #cf3027; /* Set border color */
  border-radius: 16px; /* Add border radius */
}

/* MASTER BACKGROUND FOR SYMBOLS!!!!! */

/* SYMBOLS!!COLORS!!*/

.Vanishing.Journey{
  background: var(--oblivion-grad);
}

.Chu.Chu{
  background: var(--chuchu-grad);
}

.Lachelein{
  background: var(--lachelein-grad);
}

.Arcana{
  background: var(--arcana-grad);
}

.Morass{
  background: var(--morass-grad);
}

.Esfera{
  background: var(--esfera-grad);
}

.Cernium{
  background: var(--cernium-grad);
}

.Hotel.Arcs{
  background: var(--arcus-grad);
}

.Odium{
  background: var(--odium-grad);
}

.Shangri-La{
  background: var(--shangrila-grad);
}

.Arteria{
  background: var(--arteria-grad);
}

.Carcion{
  background: var(--carcion-grad);
}


/* PAGES LAYOUT !!! */



.section-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1em;
  gap: 16px;
}
.page-title{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 32px;
  margin-bottom: 32px;
}



/* COMPLETE ALL CSS !!! */
.complete-all-button {
  background: var(--elev-1);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--dark-brown);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: solid 1px var(--elev-2); */
  font-size: 0.8rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.8em;
}

.toggle-complete{
  gap:0.1em;
  padding: 0.2em 0.8em;
}


.complete-all-container {
  /* margin-bottom: 1em; */
}

.complete-symbols-container,
.complete-activities-container {
  position: relative;
  display: inline-block;
  /* margin-bottom: 1em; */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--elev-1);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  margin-top: 4px;

}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--dark-text);
}

.dropdown-menu button:hover {
  background: var(--elev-2);
}




/* FORM CSS !! */
.form-fields{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.form-field label {
  text-align: left;
  font-size: 0.8em;
  color: var(--dark-text);
}

.form-field input,
.form-field select {
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 4px;
  border: solid 1px transparent;
  background-color: var(--elev-2);
  color: var(--dark-text);
}


.form-button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.form-button-close {
  background-color: transparent;
  color: var(--dark-text);
  border: 0px;
  /* border-bottom: solid 1px var(--dark-brown); */
  padding: 0.5em 1em;
  border-radius: 0px;
}

.form-button-add {
  background-color: var(--blue-accent);
  color: #fff;
  border: 0px;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.form-button-add:hover {
  background-color: var(--blue-accent-deep);
}

/* input focus */
input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--dark-brown);
  border-style: inset;

}

/* NUMBER INPUT */

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: var(--elev-2);
    color: var(--dark-text);
}

input[type=number]::-webkit-inner-spin-button {
  background-color: var(--dark-text);
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSans'), url(assets/fonts/OpenSans-VariableFont_wdth,wght.ttf) format('ttf');
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 100vh;

  background-color: var(--elev-0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


